<div>
  <form>
    <mat-form-field>
      <input matInput placeholder="Size" [formControl]="sizeFormControl">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="refresh()"
            [disabled]="!sizeFormControl.valid">
      Refresh
    </button>
  </form>

  <br>

  <mat-table [dataSource]="datasource">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell *matCellDef="let sale"> {{sale.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="tomatoes">
      <mat-header-cell *matHeaderCellDef> Tomatoes</mat-header-cell>
      <mat-cell *matCellDef="let sale"> {{sale.tomatoes}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="provider">
      <mat-header-cell *matHeaderCellDef> Provider</mat-header-cell>
      <mat-cell *matCellDef="let sale"> {{sale.provider}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef> Timestamp</mat-header-cell>
      <mat-cell *matCellDef="let sale"> {{sale.timestamp * 1000 | date:'medium'}}</mat-cell>
    </ng-container>
  </mat-table>
</div>
